@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,700;0,800;0,900;1,700&family=Open+Sans:wght@400;600&display=swap");
/*===============================================================================================*/

body {
	font-family: "Mulish", sans-serif;
	font-size: 16px;
}

[class*="__container"] {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	font-weight: 700;
	font-size: 18px;
	line-height: 127%;
	color: #ffffff;
	padding: 14px 17px;
	background-color: #f54748;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	text-align: center;
	&:hover {
		transform: scale(1.1);
	}

	&_outline {
		color: #f54748;
		background-color: #ffffff;
		border: 2px solid #f54748;
		border-radius: 5px;
		padding: 13px 17px;
	}
}

.text-block {
	text-align: center;
	&__title {
		font-weight: 300;
		font-size: 18px;
		line-height: 127%;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		color: #f54748;
	}

	&__text {
		font-weight: 800;
		font-size: 42px;
		line-height: 126%;
	}
}

/*===============================================================================================*/

/*PC*/
@media (max-width: 1024px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
/*Tablet*/
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
/*MOBILE*/
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}

/*===============================================================================================*/

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header {
	position: absolute;
	width: 100%;
	z-index: 100;
	&__container {
		display: flex;
		min-height: 88px;
		align-items: center;
		flex-wrap: wrap;
	}

	&__logo {
		margin: 0 60px 0 0;
		@media (max-width: 1023.98px) {
			padding: 5px 0 0 0;
		}
		@media (max-width: 991.98px) {
			margin: 0 20px 0 0;
		}
		transition: all 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}

	&__link-logo {
		font-weight: 800;
		font-size: 24px;
		line-height: 125%;
		color: #f54748;
		text-transform: uppercase;
	}

	&__menu {
		padding: 5px 0;
		display: flex;
		flex: 1 1 auto;
	}

	&__contacts {
		padding: 10px 0;
		transition: all 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}

	&__tel {
		font-weight: 600;
		line-height: 125%;
		color: #1d1d1d;
		padding: 8px 0px 8px 14px;
		border: 1px solid #f54748;
		border-radius: 30px;
		white-space: nowrap;
		span {
			background-color: #f54748;
			border-radius: 50%;
			padding: 10px;
			margin: 0 0 0 8px;
		}
	}
}
.menu {
	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		&:not(:last-child) {
			margin: 0 50px 0 0;
		}
		&:last-child {
			margin: 0 5px 0 0;
		}
		@media (max-width: 991.98px) {
			&:not(:last-child) {
				margin: 0 25px 0 0;
			}
			padding: 5px 0;
		}
	}

	&__link {
		font-weight: 600;
		line-height: 125%;
		color: #1d1d1d;
		transition: ease-in 0.3s;
		&:hover {
			color: #f54748;
		}
		@media (max-width: 767.98px) {
			font-weight: 700;
		}
		@media (max-width: 424.98px) {
			font-weight: 800;
		}
	}
}

/*========================================================================================*/

.offer {
	padding: 142px 0 0 0;
	background: linear-gradient(197.86deg, rgba(245, 71, 72, 0.1) 34.92%, rgba(245, 71, 72, 0) 84.56%);
	@media (max-width: 1023.98px) {
		padding: 112px 0 0 0;
	}
	@media (max-width: 767.98px) {
		padding: 180px 0 0 0;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 991.98px) {
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 1 65%;
		max-width: 640px;
		margin: 0 35px 0 0;
		@media (max-width: 991.98px) {
			max-width: none;
			margin: 0;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 58px;
		line-height: 95%;
		span {
			color: #f54748;
		}
		&:not(:last-child) {
			margin: 0 0 25px 0;
		}
		@media (max-width: 1085px) {
			font-size: 54px;
		}
		@media (max-width: 767.98px) {
			font-size: 44px;
		}
		@media (max-width: 374.98px) {
			font-size: 34px;
		}
	}

	&__text {
		line-height: 180%;
		&:not(:last-child) {
			margin: 0 0 60px 0;
		}
		@media (max-width: 991.98px) {
			&:not(:last-child) {
				margin: 0 0 20px 0;
			}
		}
		@media (max-width: 767.98px) {
			font-size: 14px;
		}
	}

	&__buttons {
		@media (max-width: 991.98px) {
			display: flex;
			flex-direction: column;
			margin: 0 0 30px 0;
		}
	}

	&__btn {
		@media (min-width: 991.98px) {
			&:not(:last-child) {
				margin: 0 122px 0 0;
			}
		}
		@media (max-width: 991.98px) {
			&:not(:last-child) {
				margin: 0 0 20px 0;
			}
		}
	}

	&__image {
		position: relative;
		flex: 0 1 35%;
		img {
			max-width: 100%;
			position: relative;
			z-index: 3;
		}
		&::before {
			content: "";
			position: absolute;
			width: 118%;
			height: 90%;
			top: 10%;
			right: -9%;
			background: linear-gradient(180deg, rgba(247, 97, 98, 0.1) 0%, rgba(247, 97, 98, 0) 100%);
			border-radius: 25px 25px 0px 0px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 103%;
			height: 85%;
			bottom: 0;
			left: -7px;
			background: #f54748;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 25px 25px 0px 0px;
		}
	}
}

/*===========================================================================================================*/

.advantages {
	padding: 87px 0 73px 0;
	background: rgba(245, 71, 72, 0.08);
	@media (max-width: 991.98px) {
		padding: 40px 0;
	}
	&__container {
	}

	&__text-block {
		margin: 0 0 65px 0;
		@media (max-width: 991.98px) {
			margin: 0 0 35px 0;
		}
	}

	&__row {
		display: flex;
		margin: 0 -30px;
		@media (min-width: 1100px) {
			padding: 0 70px;
		}
		@media (max-width: 991px) {
			flex-direction: column;
			margin: 0;
		}
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 0 30px;
		@media (min-width: 991.98px) {
			max-height: 100%;
			display: flex;
		}
		@media (max-width: 991.98px) {
			flex: 1 1 100%;
			padding: 0;
			&:not(:last-child) {
				margin: 0 0 40px 0;
			}
		}
	}

	&__item {
	}
}

.item-advantages {
	position: relative;
	text-align: center;
	background: #ffffff;
	border-radius: 5px;
	padding: 37px 24px 43px 24px;
	&__icon {
		&:not(:last-child) {
			margin: 0 0 13px 0;
		}
	}

	&__title {
		&:not(:last-child) {
			margin: 0 0 17px 0;
		}
		font-weight: 800;
		font-size: 18px;
		line-height: 127%;
	}

	&__text {
		font-size: 14px;
		line-height: 170%;
	}
	&_1 {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 5px;
			left: 5px;
			background: #f54748;
			border-radius: 5px;
			z-index: -1;
		}
	}
	&_2 {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 8px;
			left: 10px;
			background: #f54748;
			border-radius: 5px;
			transform: rotate(2.42deg);
			z-index: -1;
			@media (max-width: 991.98px) {
				transform: none;
				top: 5px;
				left: 5px;
			}
		}
	}
	&_3 {
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 5px;
			left: 5px;
			background: #f54748;
			border-radius: 5px;
			z-index: -1;
		}
	}
}

/*===========================================================================================================*/

.sales {
	padding: 65px 0 117px 0;
	&__container {
	}

	&__text-block {
		margin: 0 0 57px 0;
	}

	&__swiper {
		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
	}

	&__row {
		margin: 0 -15px 45px -15px;
		@media (min-width: 991.98px) {
			display: flex;
		}
		@media (max-width: 991.98px) {
			flex-direction: column;
			margin: 0 0 45px 0;
		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 0 15px;
		max-height: 100%;
		@media (min-width: 991.98px) {
			display: flex;
		}
		@media (max-width: 991.98px) {
			flex: 1 1 100%;
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
	}

	&__item {
	}
	&__pages {
		text-align: center;
	}
}

.swiper-sales {
	display: flex;

	&__left {
		&:not(:last-child) {
			margin: 0 20px 0 0;
		}
		cursor: pointer;
	}

	&__right {
		cursor: pointer;
	}
}
.item-sales {
	display: flex;
	align-items: center;
	padding: 40px 20px;
	background: #ffffff;
	box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	@media (max-width: 550px) {
		flex-direction: column;
		padding: 20px;
	}

	&__image {
		img {
			max-width: 190px;
		}
		@media (max-width: 550px) {
			margin: 0 0 20px 0;
		}
	}

	&__content {
		@media (min-width: 550px) {
			margin: 0 0 0 50px;
		}
		@media (max-width: 550px) {
			text-align: center;
		}
	}

	&__text-block {
		margin: 0 0 50px 0;
		@media (max-width: 550px) {
			margin: 0 0 30px 0;
		}
	}

	&__title {
		font-weight: 800;
		font-size: 24px;
		line-height: 125%;
		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 170%;
		color: #555555;
		@media (min-width: 991.98px) {
			max-width: 200px;
		}
	}

	&__btn {
		font-weight: 800;
		font-size: 14px;
		line-height: 128%;
		color: #ffffff;
		background: #f54748;
		border-radius: 5px;
		padding: 14px 22px;
		@media (max-width: 991.98px) {
			display: flex;
			justify-content: center;
			flex: 1 1 100%;
		}
	}
}

/*===========================================================================================================*/

.menus {
	padding: 87px 0 73px 0;
	@media (max-width: 1024px) {
		padding: 40px 0;
	}
	background: rgba(245, 71, 72, 0.08);
	&__container {
	}

	&__text-block {
		margin: 0 0 52px 0;
		@media (max-width: 767.98px) {
			margin: 0 0 32px 0;
		}
	}

	&__row {
		display: flex;
		margin: -15px;
		flex-wrap: wrap;
		@media (max-width: 1180px) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 15px;
		@media (max-width: 1080px) {
			flex: 1 1 100%;
		}
	}

	&__items {
		background: #ffffff;
		box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
	}

	&__body {
		display: flex;
		@media (max-width: 670px) {
			flex-direction: column;
		}
	}

	&__content {
		padding: 20px 27px 36px 20px;
		flex: 1 1 auto;
	}

	&__image {
		@media (max-width: 670px) {
			img {
				max-width: 100%;
			}
		}
	}

	&__btn {
		text-align: center;
		margin: 60px 0 0 0;
		@media (max-width: 767.98px) {
			margin: 40px 0 0 0;
		}
	}

	&__link {
	}
}

.content-menus {
	display: flex;
	flex-direction: column;
	&__text-block {
		flex: 1 1 auto;
		@media (max-width: 670px) {
			margin: 0 0 20px 0;
			text-align: center;
		}
	}

	&__title {
		font-weight: 800;
		font-size: 25px;
		line-height: 121%;
		&:not(:last-child) {
			margin: 0 0 17px 0;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 170%;
	}

	&__row-foot {
		display: flex;
		justify-content: space-between;
	}

	&__value {
		font-weight: 800;
		font-size: 25px;
		line-height: 121%;
	}

	&__order {
		img {
			max-width: 100%;
		}
	}

	&__add {
		&:not(:last-child) {
			margin: 0 17px 0 0;
		}
		img {
			max-width: 100%;
		}
	}

	&__card {
	}
}

/*===========================================================================================================*/

/*===========================================================================================================*/

/*===========================================================================================================*/

/*===========================================================================================================*/

/*===========================================================================================================*/

/*===========================================================================================================*/

/*===========================================================================================================*/

/*===========================================================================================================*/

/*===========================================================================================================*/
