@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,700;0,800;0,900;1,700&family=Open+Sans:wght@400;600&display=swap");
/*===============================================================================================*/

body {
	font-family: "Mulish", sans-serif;
	font-size: 16px;
}

[class*="__container"] {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-size: 3rem;
	line-height: 32/16 * 100%;
}
